.markdown img {
  margin: 16px 0px;
}

.markdown p {
  margin: 24px 0px;
  line-height: 1.6;
}

.markdown a {
  font-weight: bold;
  text-decoration: underline;
}

.markdown a:hover {
  color: var(--secondary);
}

.markdown #footnote-label {
  display: none;
}

.markdown .footnotes {
  font-size: var(--text-xs);
  filter: brightness(0.8);
  transition: filter 0.3s ease;
}

.markdown .footnotes:hover {
  filter: brightness(1);
}

.markdown .footnotes p {
  margin: 8px 0;
}

.markdown [aria-describedby="footnote-label"] {
  margin: 0 1px;
}

.markdown [aria-describedby="footnote-label"]::before {
  content: "[";
}

.markdown [aria-describedby="footnote-label"]::after {
  content: "]";
}

@layer base {
  /* Headings */
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1.12em;
    margin-bottom: 1.12em;
  }

  h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  h6 {
    font-size: 0.75em;
    font-weight: bold;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
  }

  /* Lists */
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    margin: 12px;
  }

  ul li,
  ol li {
    margin-left: 1.5rem;
  }

  /* Tables */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;

    border: 1px solid var(--foreground);
  }

  table td {
    padding: 4px 8px;
    border-right: 1px solid var(--foreground);
  }

  table thead {
    border-bottom: 1px solid var(--foreground);
  }
}
