.markdown img {
  margin: 16px 0px;
}

.markdown p {
  margin: 12px 0px;
}

.markdown a {
  font-weight: bold;
  text-decoration: underline;
}

.markdown a:hover {
  color: var(--secondary);
}

@layer base {
  /* Headings */
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1.12em;
    margin-bottom: 1.12em;
  }

  h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  h6 {
    font-size: 0.75em;
    font-weight: bold;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
  }

  /* Lists */
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul, ol {
    margin: 12px;
  }

  ul li,
  ol li {
    margin-left: 1.5rem;
  }
}
